# Dependencies
node_modules/

# Build
dist/

# Storybook
storybook-static/

# IDE
.idea/
.vscode/*
!.vscode/settings.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Misc
*.tsbuildinfo
